@charset "ISO-8859-1";

.errorLastName {
	color: red;
}

.errorFirstName {
	color: red;
}

.errorEmail {
	color: red;
}

.errorPhoneNumber {
	color: red;
}

.errorHomeAddress {
	color: red;
}

.errorHireDate {
	color: red;
}

.errorHolDaysEntitlement {
	color: red;
}

.errorSalary {
	color: red;
}

.errorPassword {
	color: red;
}

.errorDepartment {
	color: red;
}

.errorRole {
	color: red;
}

.errorChangePassword {
	margin-top: 10px;
	color: red;
}

.errorChangeNewPassword {
	margin-top: 10px;
	color: red;
}
